.m0 { margin: 0px !important }
.m5 { margin: 5px }
.m10 { margin: 10px }
.m15 { margin: 15px }
.m20 { margin: 20px }
.p0 { padding: 0px !important }
.p3 { padding: 3px }
.p5 { padding: 5px }
.p7 { padding: 7px }
.p10 { padding: 10px }
.p15 { padding: 15px }
.p20 { padding: 20px }

/*top*/
.mt0 { margin-top: 0 !important }
.mt-5 { margin-top: -5px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt10i { margin-top: 10px !important }
.mt-10 { margin-top: -10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt20i { margin-top: 20px !important }
.pt0 { padding-top: 0 !important }
.pt3 { padding-top: 3px }
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pt50 { padding-top: 50px }
.pt100 { padding-top: 100px }
.pt150 { padding-top: 150px }

/*bottom*/
.mb0 { margin-bottom: 0 !important }
.mb-5 { margin-bottom: -5px }
.mb-20 { margin-bottom: -20px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb40 { margin-bottom: 40px }
.pb0 { padding-bottom: 0 !important }
.pb3 { padding-bottom: 3px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pb50 { padding-bottom: 50px }
.pb100 { padding-bottom: 100px }
.pb150 { padding-bottom: 150px }

/*left*/
.ml0 { margin-left: 0 !important }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml40 { margin-left: 40px }
.ml50 { margin-left: 50px }
.pl0 { padding-left: 0 !important }
.pl4 { padding-left: 4px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl20 { padding-left: 20px }
.pl35 { padding-left: 35px }
.pl40 { padding-left: 40px }
.pl50 { padding-left: 50px }
.pl52 { padding-left: 52px }
.pl60 { padding-left: 60px }
.pl90 { padding-left: 90px }

/*right*/
.mr0 { margin-right: 0 !important }
.mr5 { margin-right: 5px }
.mr-5 { margin-right: -5px !important }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr30 { margin-right: 30px }
.mr40 { margin-right: 40px }
.mr50 { margin-right: 50px }
.pr0 { padding-right: 0 !important }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr20 { padding-right: 20px }
.pr30 { padding-right: 30px }
.pr40 { padding-right: 40px }
.pr50 { padding-right: 50px }

.mt2 { margin-top: 2px }
.mt3 { margin-top: 3px }
.mt7 { margin-top: 7px }
.mb7 { margin-bottom: 7px }
.mt25 { margin-top: 25px }
.mb25 { margin-bottom: 25px }
.mt30 { margin-top: 30px }
.mb30 { margin-bottom: 30px }
.mt40 { margin-top: 40px }
.mt45 { margin-top: 45px }
.mt60 { margin-top: 60px }
.mb40 { margin-bottom: 40px }
.mt50 { margin-top: 50px }
.mt53 { margin-top: 53px }
.mb50 { margin-bottom: 50px }
.mt90 { margin-top: 90px }
.mb90 { margin-bottom: 90px }
.mb100 { margin-bottom: 100px }
.mt100 { margin-top: 100px }
.mb110 { margin-bottom: 110px }
.mt110 { margin-top: 110px }
.mb170 { margin-bottom: 170px }
.mt170 { margin-top: 170px }
.mb200 { margin-bottom: 200px }
.mt200 { margin-top: 200px }
.pt50 { padding-top: 50px }
.pb50 { padding-bottom: 50px }
.pb100 { padding-bottom: 100px }
.pt100 { padding-top: 100px }
.pb200 { padding-bottom: 200px }
.pt200 { padding-top: 200px }
.mt-20 { margin-top: -20px;}
.mt-50 { margin-top: -50px;}
.mt-15 { margin-top: -15px; }
.mt-10 { margin-top: -10px; }
.mt-5 { margin-top: -5px; }

.insignificant {
  transition: opacity .2s;
  opacity: .7 !important;
}

.barely-visible {
  transition: opacity .2s;
  opacity: .3 !important;
}

.super-aligner, .vertical-aligner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
}

.super-aligner {
  -webkit-justify-content: center;
  justify-content: center;
}
